<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!--><add key="how_work_with_XML" value="XML_document"/>-->
		<add key="how_work_with_XML" value="XML_LINQ"/>
		<!--<add key="how_work_with_XML" value="XML_serialization"/>-->
	</appSettings>
</configuration>